body {
    background-color: hsl(30, 38%, 92%);
    font-size: 0.972vw;
}

.div_card {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 25%;
    bottom: 25%;
    left:25%;
    right: 25%;
}

.image {
    background-image: url(image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.div-right {
    background-color: white;
    padding: 3.472vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.new-price {
    color: rgb(61, 130, 104);
    font-size: larger;
}

.perfume {
    font-size: 1.25vw;
}

h1 {
    font-size: 2.431vw;
}

.description {
    font-size: larger;
}

button {
    background-color: rgb(61, 130, 104);
    color: white;
    font-size: large;
    padding: 0.694vw 4.500vw 0.694vw 4.500vw;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: rgb(28, 64, 49);
}

a {
    text-decoration: none;
    color: white;
}

.div-button {
    margin-top: 2.083vw;
}

a {
    font-size: 1.25vw;
}

.icon-cart {
    width: 13%;
}


@media only screen and (max-width: 375px) {
    body {
        background-color: hsl(30, 38%, 92%);
        font-size: 0.972vw;
    }
    
    .div_card {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
    
    .desktop-image {
        background-image: url(image-product-mobile.jpg);
        background-size: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .div-right {
        background-color: white;
        padding: 3.472vw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .new-price {
        color: rgb(61, 130, 104);
        font-size: larger;
    }
    
    .perfume {
        font-size: 1.25vw;
    }
    
    h1 {
        font-size: 2.431vw;
    }
    
    .description {
        font-size: larger;
    }
    
    button {
        background-color: rgb(61, 130, 104);
        color: white;
        font-size: large;
        padding: 0.694vw 4.500vw 0.694vw 4.500vw;
        border-radius: 10px;
        border: none;
    }
    
    button:hover {
        background-color: rgb(28, 64, 49);
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    .div-button {
        margin-top: 2.083vw;
    }

    a {
        font-size: 1.25vw;
    }

    .icon-cart {
        width: 13%;
    }
}
